<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      h1 {
        @apply text-[2rem] font-bold;
      }
    </style>
    <title>TikTok</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/images/tiktok.png"
    />
  </head>
  <body>
    <header class="sticky top-0 z-10">
      <div class="bg-white h-[60px] flex items-center px-2.5">
        <a href="/">
          <img src="../static/images/tiktok.png" alt="" />
        </a>
      </div>
    </header>
    <main>
      <div class="max-w-xs mx-auto text-center pt-16">
        <h1 class="pb-6">Log in to TikTok</h1>
        <p class="text-[#16182357] text-sm leading-4.5 pb-6">
          Manage your account, check notifications, comment on videos, and more.
        </p>
        <div class="">
          <a
            href=""
            class="block p-3 rounded-lg border border-neutral-300 hover:bg-neutral-100 text-center font-medium text-sm"
          >
            User email / username
          </a>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
